* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* <a href="https://storyset.com/online">Online illustrations by Storyset</a> */

:root {
  --text-title: #d4ccb6;
  --background: #191816;
  --form-background: #24221f;
  --primary-color: #92e3a9;

  font-size: 62.5%;

  --nav-height: 7.2rem;

  --dark-strong-bg: #1f2631;
  --dark-light-bg: #313a49;
  --dark-title: #53f4a7;
  --dark-text: #afb6c2;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;

  text-align: center;

  overflow: overlay;

  background-color: var(--dark-light-bg);
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.wrapper {
  width: min(50rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
}

#button-to-top {
  background-color: var(--dark-title);
  padding: 1rem;
  border-radius: 100%;

  color: var(--dark-strong-bg);
  font-size: 1.8rem;

  position: fixed;
  bottom: 1rem;
  right: 2rem;

  opacity: 0;
  visibility: hidden;

  transform: translateX(100%);
  transition: 0.3s;
}

#button-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* =============== RESPONSIVE =============== */
@media screen and (min-width: 1024px) {
  body {
    overflow: auto;
  }

  .wrapper {
    width: min(112rem, 100%);
  }
}
