#home {
  padding-top: calc(4.1rem + var(--nav-height));
  height: 100vh;
}

#home header h4 {
  background-color: var(--dark-strong-bg);
  padding: 1rem 2rem;

  display: inline-block;

  border-radius: 1.6rem;

  color: var(--dark-title);
  text-transform: uppercase;
}

#home header h1 {
  font-size: 3.6rem;
  color: #fff;
  margin-bottom: 1.5rem;
  margin-top: 4rem;
}

#home header p {
  font-size: 2rem;
  color: var(--dark-text);
}

#home .contact-btn {
  background: var(--dark-strong-bg);
  border-radius: 4rem;
  border: none;
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.09rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  text-decoration: none;

  color: var(--dark-title);

  display: inline-block;
  padding: 1.6rem 3.2rem;

  margin-block: 4rem;

  transition: transform 0.2s;
}

#home .social-links {
  display: none;
}

#home a:hover {
  transform: scale(1.05);
}

#home a i {
  margin-right: 1.2rem;
}

#home img {
  animation: image_animation 3s infinite;
}

@keyframes image_animation {
  0%,
  100% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0px);
  }
}

/* =============== RESPONSIVE =============== */
@media screen and (min-width: 1024px) {
  #home {
    display: flex;
    height: calc(100vh - var(--nav-height));
  }

  #home .wrapper {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  #home header {
    text-align: left;
  }

  #home img {
    width: 50%;
  }

  #home header h1 {
    font-size: 4.2rem;
  }

  #home header p {
    font-size: 2.3rem;
  }

  #home .social-links {
    display: flex;
    gap: 3.2rem;
    font-size: 2.8rem;
    margin-left: 0.7rem;
  }

  #home .social-links a {
    color: var(--dark-text);
  }

  #home .social-links a:hover {
    color: var(--dark-title);
  }
}
