nav {
  display: flex;

  height: var(--nav-height);

  width: 100vw;
  position: fixed;
  top: 0;

  z-index: 10;
}

nav .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  font-size: 2.4rem;
  color: var(--dark-title);
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
}

nav.scroll {
  background-color: var(--dark-strong-bg);
}

nav.scroll .logo {
  color: #fff;
}

nav.scroll .open-menu path {
  stroke: #fff;
}

nav .close-menu,
nav .menu {
  position: fixed;
}

nav .social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
  font-size: 2.8rem;
  margin-top: 4.8rem;
}

/* ============= MENU-EXPANDED ============= */

body.menu-expanded {
  overflow: hidden;
}

body.menu-expanded > :not(nav) {
  visibility: hidden;
}

.menu,
.close-menu,
body.menu-expanded .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.menu-expanded nav .logo {
  color: #fff;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu {
  opacity: 1;
  visibility: visible;
}

.menu {
  transform: translateX(100%);
}

body.menu-expanded .menu {
  top: 0;
  left: 0;
  background-color: var(--dark-strong-bg);

  width: 100vw;
  height: 100vh;

  padding-top: var(--nav-height);

  transform: translateX(0);
  transition: transform 0.4s;
}

.menu ul:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  margin-top: 6rem;

  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

.menu ul li a {
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}

body.menu-expanded .logo,
body.menu-expanded button {
  position: relative;
  z-index: 100;
}
